.flex-spacer {
  flex: 1 1 auto;
}

.logo {
  margin-right: 20px;
}

.mat-button {
  margin-right: 5px;
  margin-left: 5px;
}

.active {
  background: #007bff;
}

.jumbotron {
    background: #4383a8;
    color:floralwhite;
    min-height: 150px;
    width: 100%;
    border-radius: 0;
}
