<mat-toolbar color="primary">
  <span class="flex-spacer"></span>
  <button mat-button *ngIf="!getJwtTokenService().getToken()" (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</button>
  <button mat-button *ngIf="!getJwtTokenService().getToken()" (click)="openRegisterForm()"><span class="fa fa-user-plus fa-lg"></span> Register</button>
  <h3 *ngIf="getJwtTokenService().getToken()">Bonjour {{getJwtTokenService().getDecodedToken().sub | titlecase}}</h3>
  <button mat-icon-button *ngIf="getJwtTokenService().getToken()" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <span class="fa fa-chevron-down fa-lg"></span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span class="fa fa-cog fa-lg"></span>
       Settings
    </button>
    <button mat-menu-item (click)="logout()">
      <span class="fa fa-sign-out fa-lg"></span>
       Logout
    </button>
  </mat-menu>
</mat-toolbar>

<div class="jumbotron">
  <div>
    <h1>Manage Todos App!</h1>
    <p>Manage your daily tasks happily and easily</p>
  </div>

</div>
